<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssnyapp.wxapp.dao.CompanyDao">

    <select id="get" resultType="com.ssnyapp.wxapp.domain.CompanyDO">
		select * from wxapp_company where id = #{value}
	</select>

    <select id="list" resultType="com.ssnyapp.wxapp.domain.CompanyDO">
		select * from wxapp_company
		<where>
			<if test="positionName != null and positionName != ''"> and positionName like CONCAT(CONCAT('%',#{positionName}),'%') </if>
			<if test="state != null and state != ''"> and state = #{state} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by createDate desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from wxapp_company
	</select>

    <insert id="save" parameterType="com.ssnyapp.wxapp.domain.CompanyDO" useGeneratedKeys="true" keyProperty="id">
		insert into wxapp_company(`companyName`, `positionName`, `workAddress`, `salary`, `linkMan`, `telephone`, `description`, `createDate`, `state`) values (#{companyName}, #{positionName}, #{workAddress}, #{salary}, #{linkMan}, #{telephone}, #{description}, #{createDate}, #{state})
	</insert>

	<update id="update" parameterType="com.ssnyapp.wxapp.domain.CompanyDO">
		update wxapp_company
		<set>
			<if test="companyName != null">`companyName` = #{companyName}, </if>
			<if test="positionName != null">`positionName` = #{positionName}, </if>
			<if test="workAddress != null">`workAddress` = #{workAddress}, </if>
			<if test="salary != null">`salary` = #{salary}, </if>
			<if test="linkMan != null">`linkMan` = #{linkMan}, </if>
			<if test="telephone != null">`telephone` = #{telephone}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="state != null">`state` = #{state}, </if>
			<if test="createDate != null">`createDate` = #{createDate}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from wxapp_company where id = #{value}
	</delete>

</mapper>